
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: white;
    width: 100%;
    height: fit-content;
    float: left;
    position: fixed;
}
#header-logo{
    font-size: 45px;
    font-weight: 700;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
}
#header-list{
    list-style: none;
    float: right;
    display: block;
}
.nav{
    float: right;
    color: black;
    font-size: 20px;
    margin-right: 30px;
    padding-top: 30px;
    text-decoration: none;
.body-recentwork__card {
    background-color: #4978ff;
}